@{
    ViewData["Title"] = "New com";
}

<div class="container">
    <div class="div-center">
        <h4>Thêm account</h4>
        <div class="row">
            @{
                Microsoft.Extensions.Primitives.StringValues queryVal;

                if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                    queryVal.FirstOrDefault() == "wrongName")
                {
                    <p class="text-danger">Máy đã tồn tại.</p>
                }
                else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                   queryVal.FirstOrDefault() == "error")
                {
                    <p class="text-danger">Thử lại.</p>
                }
                else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
                  queryVal.FirstOrDefault() == "added")
                {
                    <p class="text-success">Đã thêm máy.</p>
                }
            }
        </div>
        <div>
            @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="book">Username </label>
                    <input type="text" class="form-control" name="book" id="book" maxlength="50" aria-describedby="bookName" placeholder="username" required>
                </div>

                <div class="actions">
                    @Html.ActionLink("Back", "Index", "Library", new { }, new { @class = "btn btn-info" })
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .actions {
        text-align: right;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .div-center {
        width: 90%;
        margin: auto;
        max-width: 400px;
        overflow: auto;
        padding: 1em 2em;
    }
</style>